<div style="
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
">
  <div style="margin-bottom:1em">xxANYxx</div>
  <div>xxPOWERxx</div>
  <div>xxSPEEDxx</div>
  <div>xxTACTICSxx</div>
</div>