<div style="
  display: block;
  width: xxWIDTHxx;
  height: xxHEIGHTxx;
  background-color: xxBGCOLORxx;
  border: 4px solid xxCOLORxx;
  border-radius: .5em;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 6px;
  position: relative;
  font-size: 2.3em;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: .5em;
  position: relative;
">
  <div style="
    display: block !important;
    height: xxACTIONHEIGHTxx;
    border-bottom: 4px dashed xxCOLORxx;
    padding: 4px 8px 4px 44px;
    display: inline;
    margin-right: 0px;
    position: relative;
  ">
    <div style="
      position: absolute;
      padding: 0 12px;
      line-height: .9em;
      border: 4px solid xxCOLORxx;
      border-radius: 13px;
      top: -10px;
      left: -10px;
      font-size: 1.8em;
      background-color: black;
      color: white;
    ">!</div>
    xxLABELxx
    <div style="
      position: absolute;
      padding: 0 12px;
      line-height: .9em;
      border: 4px solid xxCOLORxx;
      border-radius: 13px;
      top: -10px;
      right: -10px;
      font-size: 1.8em;
      background-color: black;
      color: white;
    ">!</div>
  </div>
  <div style="
    padding: 8px;
    padding-left: 54px;
  ">
    xxCONTENTxx
  </div>
</div>