/* .dropdown-menu {
  .show {
    background-color: red;
  }
} */

body {
  background-color: rgb(3, 23, 40) !important;
}

canvas {
  width: 600px;
  height: 600px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

.iconWithText {
  position: relative;
  display: inline;
}

.p_image {
  margin-bottom: 8px;
}

.h_image {
  margin-top: 9px;
  /* width: 26px !important;
  height: 24px !important; */
  margin-left: 2px;
}

.textInsideIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  font: bold 12px monospace;
}

.inlineWrapper {
  display: inline;
}

.wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: inline;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  font-family: monospace;
  flex: 1;
  font-size: 25px;
  top: 0;
  left:0;
  z-index: 1;
  text-align: center;
  color: white;
}

.cardDescriptionText {
  text-align:center;
  font-family:Arial;
  color:#333;
}

strong {
  font-weight: 900 !important;
  font-family: 'Arial Black', 'Arial Narrow Bold', sans-serif;
}